*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#alert{
  width: 40%;
  height: 100px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  transition: 2s;

  position: absolute;
  background-color: #C62828;
  color: #FFF;
  font-family: helvetica;
  font-size: 18px;

  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#wrapp{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}
#top-wrapp{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items:  center;
  border-right: 1px solid #000;
}
#bottom-wrapp{
  width: 80%;
  height: 100%;
  background-color: #000;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#resultado{
  width: 100%;
  height: 15%;
  color: #FFF;
  text-align: center;
  padding-top: 50px;

  font-family: helvetica;
  font-size: 23px;

}

#image-container{
  width: 100%;
  height: 85%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-image: url("../img/circunferencia.png");
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;

}
#imgP{
  animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

#info-div > p{
  font-family: helvetica;
  font-size: 23px;
}
.info{
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #000;
  padding: 0px 50px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.info > label{
  display: block;
  font-family: helvetica;
  font-size: 23px;
  margin-bottom: 30px;
}
.info > div{
  width: 100%;

  display: flex;
  flex-flow: row nowrap;

}
.info > div >span{
  display: block;
  width: 60px;
  height: 40px;
  line-height: 40px;
}
.info input{
  width: 100%;
  height: 40px;
}

button{
  width: 100%;
  height: 50px;
}
 @media only screen and (max-width:1400px){
   #info-div > p{
     font-size: 18px;
   }
   .info > label{
     font-size: 18px;
   }
 }

 @media only screen and (max-width: 1300px){
   .info{
     padding: 0px 30px;
   }
   .info > label{
     margin-bottom: 15px;
   }
   #image-container{
     background-size: 300px;
   }
   #imgP{
     width: 50%;

   }
 }

 @media only screen and (max-width: 1200px){

   #info-div > p{
     font-size: 16px;
   }
   .info > label{
     font-size: 16px;
     margin-bottom: 10px;
   }
 }

 @media only screen and (max-width: 1000px){

   .info{
     padding: 0px 10px;
   }
   #info-div > p{
     font-size: 14px;
   }
   .info > label{
     font-size: 14px;
     margin-bottom: 10px;
   }
 }

 @media only screen and (max-width: 900px){

   .info{
     padding: 0px 10px;
   }
   #info-div > p{
     font-size: 14px;
   }
   .info > label{
     font-size: 14px;
     margin-bottom: 5px;
   }
   #imgP{
     width: 60%;

   }
 }
